@font-face {
  font-family: "acre";
  src: url("./assets/jonathan_ball_-_acre-medium-webfont.woff2") format("woff2"),
    url("./assets/jonathan_ball_-_acre-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html * {
  box-sizing: border-box;
  color: #130a00;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

.App {
  width: 100%;
  overflow: hidden;
}

button {
  font-family: "acre", sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 4px #e2f877 solid;
  color: #e2f877;
  padding: 15px 0px;
  font-size: 34px;
}

h1,
h2 {
  font-family: "acre", sans-serif;
  margin: 0;
}

h2 {
  font-size: 60px;
}
ul {
  margin: 2px 0px 10px;
  list-style: none;
  padding-left: 30px;
}

p,
ul,
div {
  font-size: 16px;
}

.folder {
  filter: drop-shadow(0px -3px 1px rgba(0, 0, 0, 0.25));
  padding: 10px;
  padding-top: 20px;
}

.folder-box {
  padding: 10px;
}
